html
  head
    title='Docker it is'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Dockers!!!
        p Welcome to the container world
        p 